body
{
	margin: 0px;
	padding: 0px;
}
.navbar
{
	height: 50px;
	background-color: #5682A3;
	min-width:1000px;
}
.container
{
	width: 1000px;
	margin: 2% auto;
	min-width: 1000px;
}
*
{
	text-decoration: none;
	font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
	font-weight: lighter;
}
.divinform
{
	height: auto;
	/*border: 1px solid silver;*/
	overflow: hidden;
}
.divwidgetkiri
{
	height: 500px;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	width: 725px;
	float: left;
	background-color: white;
}
.divwidgetkanan
{
	height: 500px;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	width: 250px;
	float: right;
	background-color: white;
}